.wrapper {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    font-size: 1.5rem;
    color: lch;
  }

  ul {
    list-style-image: url("images/kisspng-shrub-tree-clip-art-palm-tree-5ad7860573d323.5690473315240739894744.png");
  }
}
